<a href="https://colab.research.google.com/github/shinjh-dl/Dacon/blob/main/Code_First.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Drive_Dacon_gas/한국가스공사_시간별 공급량_20181231.csv", encoding='cp949')

In [8]:
data

               연월일  시간 구분       공급량
0       2013-01-01   1  A  2497.129
1       2013-01-01   2  A  2363.265
2       2013-01-01   3  A  2258.505
3       2013-01-01   4  A  2243.969
4       2013-01-01   5  A  2344.105
...            ...  .. ..       ...
368083  2018-12-31  20  H   681.033
368084  2018-12-31  21  H   669.961
368085  2018-12-31  22  H   657.941
368086  2018-12-31  23  H   610.953
368087  2018-12-31  24  H   560.896

[368088 rows x 4 columns]